apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://raw.githubusercontent.com/longhorn/longhorn/master/deploy/longhorn.yaml
  - storage.storageclass.yaml

patches:
  - target:
      kind: ConfigMap
      name: longhorn-storageclass
    path: ./storageclass.patch.yaml
