apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/instance: traefik-forward-auth
    app.kubernetes.io/name: traefik-forward-auth
    app.kubernetes.io/version: v3.1.0
  name: traefik-forward-auth-serviceaccount
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: traefik-forward-auth-role
  labels:
    app.kubernetes.io/instance: traefik-forward-auth
    app.kubernetes.io/name: traefik-forward-auth
    app.kubernetes.io/version: v3.1.0
rules:
  - apiGroups: [""]
    verbs: ["*"]
    resources: ["secrets"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: traefik-forward-auth-bind
  labels:
    app.kubernetes.io/instance: traefik-forward-auth
    app.kubernetes.io/name: traefik-forward-auth
    app.kubernetes.io/version: v3.1.0
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: traefik-forward-auth-role
subjects:
  - kind: ServiceAccount
    name: traefik-forward-auth-serviceaccount
    namespace: traefik
